/* Bitter */
@font-face {
  font-family: 'BitterBold';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/bitter-bold-webfont.eot');
  src: url('../fonts/bitter-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bitter-bold-webfont.woff2') format('woff2'), url('../fonts/bitter-bold-webfont.woff') format('woff'), url('../fonts/bitter-bold-webfont.ttf') format('truetype'), url('../fonts/bitter-bold-webfont.svg#bitterbold') format('svg');
}

@font-face {
  font-family: 'BitterReg';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/bitter-regular-webfont.eot');
  src: url('../fonts/bitter-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bitter-regular-webfont.woff2') format('woff2'), url('../fonts/bitter-regular-webfont.woff') format('woff'), url('../fonts/bitter-regular-webfont.ttf') format('truetype'), url('../fonts/bitter-regular-webfont.svg#bitterregular') format('svg');
}


/* Icons */
@font-face {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/icomoon.eot?-gxmpik');
  src: url('../fonts/icomoon.eot?#iefix-gxmpik') format('embedded-opentype'), url('../fonts/icomoon.woff?-gxmpik') format('woff'), url('../fonts/icomoon.ttf?-gxmpik') format('truetype'), url('../fonts/icomoon.svg?-gxmpik#icomoon') format('svg');
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;

  text-transform: none;

  speak: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
  content: '\e67c';
}

.icon-minus:before {
  content: '\e683';
}

.icon-plus:before {
  content: '\e684';
}

.icon-dot:before {
  content: '\e6b1';
}

.icon-arrow-left:before {
  content: '\e6d5';
}

.icon-arrow-down:before {
  content: '\e6d6';
}

.icon-arrow-up:before {
  content: '\e6d7';
}

.icon-arrow-right:before {
  content: '\e6d8';
}

.icon-arrow-left-thin:before {
  content: '\e600';
}

.icon-arrow-down-thin:before {
  content: '\e601';
}

.icon-arrow-up-thin:before {
  content: '\e602';
}

.icon-arrow-right-thin:before {
  content: '\e603';
}

.icon-twitter:before {
  content: '\e6f4';
}

.icon-facebook:before {
  content: '\e6f6';
}

.icon-linkedin:before {
  content: '\e6ff';
}

.icon-instagram:before {
  content: '\e900';
}

.icon-xing:before {
  content: '\e901';
}
